

/* shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray{
    color: #727272;
    font-weight: 400;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313
}

/* header styles */
header {
    /* border: 2px solid black; */
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    text-decoration: none;
}
nav li{
    list-style: none ;
    margin-right: 39px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242
}


/* banner styles */
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.banner img{
    margin-top:20px;
    width: 100%;
}


/* main styles  */
main{
    max-width: 1440px;
    margin: 70px 50px;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    /* margin-right: 4rem; */
}
.teams-content{
    padding-left: 4rem;
    padding-right: 4rem;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .of-our{
    color: #131313;
    font-weight: 700;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}

/* features section style */
.feature-container{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.feature-container .feature-card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-container .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.ten-years-badge{
    color: #FFF;
    width: 300px;
    padding: 40px;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.feature-img{
    height: 90%;
    margin-left: 90px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin-top: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}

/* facts section styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.facts-card-container .facts-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 13rem;
    height: 10rem;
    text-align: center;
    padding: 30px;
}
.facts-card-container .facts-states{
    color:#424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .facts-title{
    color:#727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors section styles */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;

}

/* footer section styles */
footer{
    color:#424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/* Responsive media queries */
/* Mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, 
    .teams-container, 
    .facts-card-container, 
    .sponsors-img-container, 
    .feature-container{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content, .facts-card-container{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .feature-img{
        height: 100%;
        margin-left: 0px;
    }
    .ten-years-badge{
        position: static;
        max-width:300px;
    }
    .sponsors-img-container img{
        width: 165px;
    }
}
/* Tablet devices */
@media screen and (min-width: 577px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav, 
    .teams-container, 
    .facts-card-container, 
    .sponsors-img-container,
    .feature-container{
        flex-direction: column;
    }   
}